spring:
  config:
    import:
      - optional:file:.env[.properties]

  cache:
    type: redis
    redis:
      time-to-live: 3600000   # 1 hour TTL for general caches
      cache-null-values: false

  redis:
    host: ${REDIS_HOST:localhost}
    port: ${REDIS_PORT:6379}
    lettuce:
      pool:
        max-active: 16
        max-idle: 16
        min-idle: 2
        time-between-eviction-runs: 60000

  datasource:
    url: ${DB_CONNECTION_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 100MB

ai:
  openai:
    base-url: ${OPEN_AI_URL}
    api-key: ${CHATGROQ_API_KEY}
    chat:
      options:
        model: llama-3.1-8b-instant
        temperature: 0.7
        max-tokens: 1000

  ollama:
    base-url: ${OLLAMA_BASE_URL}
    embedding:
      model: nomic-embed-text

  vectorstore:
    pgvector:
      index-type: HNSW
      distance-type: COSINE_DISTANCE
      dimensions: 768

logging:
  level:
    root: INFO        # less verbose than dev
  file:
    path: logs
    name: app.log

server:
  port: 8080
