spring:
  application:
    name: doc_helper
  threads:
    virtual:
      enabled: true
  jpa:
    open-in-view: false

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html
    enabled: true
  show-actuator: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    redis:
      enabled: true
    mongo:
      enabled: true
