spring:
  config:
    import:
      - optional:file:.env[.properties]
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
  cache:
    type: redis
    redis:
      time-to-live: 600000
      cache-null-values: false

  data:
    redis:
      host: localhost
      port: 6379
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 1
          time-between-eviction-runs: 60000
    mongodb:
      uri: ${MONGO_URL}

  datasource:
    url: ${DB_CONNECTION_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 100MB

  ai:
    openai:
      base-url: ${OPEN_AI_URL}
      api-key: ${CHATGROQ_API_KEY}
      chat:
        options:
          model: llama-3.1-8b-instant
          temperature: 0.7
          max-tokens: 1000

    ollama:
      base-url: ${OLLAMA_BASE_URL}
      embedding:
        model: nomic-embed-text

    vectorstore:
      pgvector:
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 768

logging:
  level:
    "[com.ayushsingh]": DEBUG
    "[org.springframework]": WARN
    "[org.springframework.web.client.DefaultRestClient]": WARN
    "[org.apache.hc.client5.http]": WARN
    "[org.apache]": WARN
    "[ch.qos.logback]": WARN
    "[net.logstash]": WARN
    "[org.hibernate.SQL]": DEBUG
    "[org.hibernate.type.descriptor.sql.BasicBinder]": TRACE
    "[org.hibernate.engine.jdbc.internal.StatementLogger]": DEBUG
    "[org.springframework.data.mongodb.core.MongoTemplate]": INFO
    "[org.mongodb.driver]": INFO
    "[com.p6spy]": DEBUG
    "[io.lettuce.core]": INFO
    "[org.springframework.data.redis]": DEBUG
    "[org.springframework.mail]": DEBUG
    "[org.springframework.data.redis.core.RedisTemplate]": DEBUG
    "[org.springframework.data.redis.connection]": DEBUG
    "[org.springframework.data.redis.listener]": DEBUG
  file:
    path: logs
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"

server:
  port: 8086

storage:
  location: uploads
