spring:
  config:
    import:
      - optional:file:.env[.properties]
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
      smtp:
        auth: true
        starttls:
          enable: true

  cache:
    type: redis
    redis:
      time-to-live: 600000
      cache-null-values: false

  data:
    redis:
      host: localhost
      port: 6379
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 1
          time-between-eviction-runs: 60000

  datasource:
    url: ${DB_CONNECTION_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 100MB

ai:
  openai:
    base-url: ${OPEN_AI_URL}
    api-key: ${CHATGROQ_API_KEY}
    chat:
      options:
        model: llama-3.1-8b-instant
        temperature: 0.7
        max-tokens: 1000

  ollama:
    base-url: ${OLLAMA_BASE_URL}
    embedding:
      model: nomic-embed-text

  vectorstore:
    pgvector:
      index-type: HNSW
      distance-type: COSINE_DISTANCE
      dimensions: 768

logging:
  level:
    root: INFO
  file:
    path: logs
    name: app.log

server:
  port: 8080
